.loginSideForm {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}
